.collection_warpper {
  width: 100%;
}

.collection_item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .collection_right {
    display: flex;
    flex-direction: column;

    .collection_right_title {
      font-size: 18px;
      font-weight: 700;
      color: #374151;
    } 

    .collection_right_content {
      font-size: 14px;
      color: #6b7280;
      padding: 8px 0;
    } 

    .collection_projectStatus {
      font-size: 14px;
      margin-bottom: 8px;
      color: #6b7280;
  
      .collection_type {
        color: #1e80ff;
      }
    }

    .collection_btn_box {

      .collection_btn1 {
        border-radius: 10px;
      }

      .collection_btn2 {
        margin-left: 10px;
        border-radius: 10px;
      }

    }

    .collection_text {
      font-size: 12px;
      padding-top: 4px;
      color: #6b7280;
    }
  }
}
