body {
  background-color: #f6f6f6;
}

.container .content-left {
  margin-left: 6px;
}

.container .content-right {
  padding: 16px 6px;
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 60px);
}

.container .content-right::-webkit-scrollbar {
  display: none;
}
.container .content {
  
}