.container {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
}

.container .listItem {
  padding: 10px;
}

.container .listItem .item_title {
  display: flex;
  align-items: center;
}

.item_title .tit_t {
  color: #4e5969;
}
.item_title .border_r {
  border-right: 1px solid #ddd;
  padding-right: 10px;
}
.item_title .tit {
  color: #86909c;
  padding-left: 10px;
}

.listItem .flex_content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 12px;
}

.listItem hr {
    border-bottom: 1px solid #f6f6f6;
}

.flex_content .flex_1 {
  flex: 1;
}

.flex_1.title {
  margin-bottom: 8px;
  font-size: 16px;
  color: #1d2129;
  font-weight: 700;
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.flex_1 .contents {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.flex_1 .show_num {

}

.flex_content img {
  width: 120px;
  height: 80px;
  float: 0 0 auto;
   margin-left: 10px;
}