.resumeContainer {
  .resume_wrap {
    padding: 16px;
  }

  .resume_content {
    width: 100%;
    overflow-y: scroll;
    height: calc(100vh - 60px);
  }
  .resume_content::-webkit-scrollbar {
    display: none;
  }

  .resume_right {
    margin-left: 15px;
  }
}