.container {
  width: 100%;
  background-color: #fff;

  .container_wrapper {
    padding: 0 16px;

    .wrapper_mainHead {
      padding-top: 20px;

      .mainHead_title {
        font-size: 18px;
        font-weight: 500;
      }
      
      .mainHead_time {
        font-size: 16px;
      }
    }

    .wrapper_mainSection {

      .mainSection_title {
        font-size: 38px;
        font-weight: 500;
      }
    }
    
    .w_a_c {
      text-align: left;
      padding: 15px;
      font-size: 16px;
      line-height: 1.75;

      p {
        font-size: 15px;
      }

      h4 {
        font-weight: bold;
        line-height: 1.5;
        margin-top: 35px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-size: 16px;
      }
    }
  }
}