.header_menu {
  margin-bottom: 0;
  padding-left: 0;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;

  .active {
    a {
      color: #1e80ff;
    }
  }

  .default {
    a {
      color: #86909c;
    }
  }

  .menuItem {
    min-width: 120px;
    text-align: center;
    font-size: 16px;
    line-height: 60px;
  }
}
